body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

/* Navbar */
.navbar {
    font-weight: bold;
    background-color: #FED049;
}

.nav-link {
    color: #251749;
    margin-left: 20px;
}

.nav-link:focus {
    color: #251749;
}

.nav-link:hover {
    color: #fff;
}

.dropdown-menu {
    border: none;
    background-color: #FED049;
}

.dropdown-item {
    font-weight: bold;
    color: #251749;
}

.dropdown-item:hover {
    color: #fff;
    background-color: #FED049;
}

/* Navbar */

/* Carousel */

/* Carousel */

/* Tentang */
.tentang {
    padding: 150px 0px;
    background-image: url('../img/tambahan/background.jpg');
    background-size: cover;
}

.row-tentang {}

.col-md {}

.video {}

.sekolah {
    color: #251749;
}

.btn {
    border: 1px solid #251749;
    color: #251749;
}

.btn:hover {
    color: #FFF;
    background-color: #251749;
}

/* Tentang */

/* Kegiatan */
.kegiatan {
    background-color: #FED049;
}

.container-kegiatan {
    padding: 50px 0px;
}

.span {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    color: #251749;
    margin-bottom: 80px;
}

.span span {
    padding-bottom: 10px;
    border-bottom: 3px solid #251749;
}

.row-kegiatan {
    margin: 0px 15px;
    margin-top: 20px;
}

.row-kegiatan img {
    width: 100%;
}

.col-md {
    margin: 2px;
    overflow: hidden;
    border-radius: 10px;
}

.col-md img {
    border-radius: 10px;
    filter: brightness(50%);
    transition: all .5s ease;
}

.col-md:hover img {
    transform: scale(1.5);
    filter: brightness(100%);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Kegiatan */

/* statistik */

.statistik-background {
    position: relative;
}

.statistik-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/banner/banner.jpg');
    filter: brightness(50%);
    background-attachment: fixed;
}

.statistik {
    color: #FED049;
    position: relative;
}

.statistik-span {
    font-weight: bold;
    font-size: 2.5em;
}

.statistik-p {
    color: #fff;
}

.statistik-row {}

.statistik-col {
    margin: auto;
    text-align: center;
}

.statistik-col p {
    color: #fff;
}

.statistik-icon {
    font-size: 2em;
    padding-bottom: 20px;
}

/* statistik */

@media only screen and (max-width: 600px) {

    /* navbar */
    .dropdown-menu,
    .dropdown-item {
        padding: 10px 0px;
        text-align: center;
        color: #FFF;
        background-color: #251749;
    }

    /* navbar */

    /* carousel */
    .carousel-item img {
        width: 500% !important;
        background-size: cover;
    }

    /* carousel */

    /* tentang */
    .video {
        width: 100%;
    }

    .row {
        margin: 0;
    }

    .span {
        margin-bottom: 60px;
    }

    .col-md {
        margin: 0;
        padding-top: 20px;
    }

    /* tentang */

    /* Kegiatan */
    .col-md {
        margin: 0;
        border-radius: 10px;
    }

    .col-md img {
        border-radius: 10px;
        filter: none;
        transition: all .5s ease;
    }

    .col-md:hover img {
        transform: none;
        filter: none;
    }

    /* Kegiatan */
}