body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

/* Navbar */
.navbar {
    font-weight: bold;
    background-color: #E8F3D6;
}

.nav-link {
    color: #FAAB78;
    margin-left: 20px;
}

.nav-link:focus {
    color: #FAAB78;
}

.nav-link:hover {
    color: #fff;
}

.dropdown-menu {
    border: none;
    background-color: #E8F3D6;
}

.dropdown-item {
    font-weight: bold;
    color: #FAAB78;
}

.dropdown-item:hover {
    color: #fff;
    background-color: #E8F3D6;
}

/* Navbar */

/* Carousel */

/* Carousel */

/* Tentang */
.tentang {
    padding: 150px 0px;
    background-image: url('../img/tambahan/background.jpg');
    background-size: cover;
}

.row {}

.col-md {}

.video {}

.sekolah {
    color: #FAAB78;
}

.btn {
    border: 1px solid #FAAB78;
    color: #FAAB78;
}

.btn:hover {
    color: #FFF;
    background-color: #FAAB78;
}

/* Tentang */

/* Kegiatan */
.kegiatan {
    background-color: #E8F3D6;
}

.container-kegiatan {
    padding: 50px 0px;
}

.span {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    color: #FAAB78;
    margin-bottom: 80px;
}

.span span {
    padding-bottom: 10px;
    border-bottom: 10px solid #FAAB78;
}

.row-kegiatan {
    margin: 0px 15px;
    margin-top: 20px;
}

.row-kegiatan img {
    width: 100%;
}

.col-md {
    margin: 2px;
    overflow: hidden;
}

.col-md img {
    filter: brightness(50%);
    transition: all .5s ease;
}

.col-md:hover img {
    transform: scale(1.5);
    filter: brightness(100%);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Kegiatan */

@media only screen and (max-width: 600px) {

    /* navbar */
    .dropdown-menu,
    .dropdown-item {
        padding: 10px 0px;
        text-align: center;
        color: #FFF;
        background-color: #FAAB78;
    }

    /* navbar */

    /* carousel */
    .carousel-item img {
        width: 500% !important;
        background-size: cover;
    }

    /* carousel */

    /* tentang */
    .video {
        width: 100%;
    }

    .row {
        margin: 0;
    }

    .span {
        margin-bottom: 60px;
    }

    .col-md {
        margin: 0;
        padding-top: 20px;
    }

    /* tentang */
}